Checks: "-*,bugprone-*,cppcoreguidelines-init-variables,modernize-use-nullptr,readability-braces-around-statements,readability-identifier-length"
HeaderFilterRegex: "^(?!.*(third_party|/include/|site-packages)).*$"
ExcludeHeaderFilterRegex: ".*(torch|pybind11|cuda|hip).*(/|\.h)"
